.container {
  background: url(../public/assets/home.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gridPrev{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-top: 1rem;
}

.gridCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  margin: 1rem;
  color: inherit;
  text-decoration: none;
  min-width: 177px;
  max-width: 177px;
  min-height: 260px;
  max-height: 260px;
  cursor: pointer;
  transition: .3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gridPrev img{
  width: 70%;
  min-width: 290px;
  object-fit: cover;
}

.prevContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
    position: sticky;
    top: 0;
}

.prevContainer h3{
  text-align: center;
  margin: 12px 0;
}

/* pagination */

.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 93%;
  margin-bottom: 2rem;
}

/* .pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  cursor: pointer;
  transition: .3s ease;
} 

.pagination li:hover {
  background: #f1f1f1;
}

*/

.pagination a {
  padding: .4rem .7rem .5rem .7rem;
  border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    color: #000000;
  cursor: pointer;
  background-color: rgb(10, 128, 207);
  transition: .3s ease;
  font-weight: 500;
}

.pagination a:hover {
  background-color: rgb(94, 202, 221);
  transform: translate(-0.15rem, -0.15rem);
 box-shadow: 0.19em 0.19em;
}

.pagination .pageNum.active a{
  background-color: rgb(94, 202, 221);
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.19em 0.19em;
}

.pagination .disabled a {
  background-color: #a8a8a8!important;
  cursor: not-allowed!important;
  color: rgb(7, 27, 80)!important;
}

.filterBtn{
  padding: 4px 8px 1px 8px;
}

.subTitles{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  padding: 0 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
