.container {
  background: url(../public/assets/home.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.gridPrev{
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-top: 1rem;
}

.gridCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  margin: 1rem;
  color: inherit;
  text-decoration: none;
  max-width: 180px;
  max-height: 360px;
  cursor: pointer;
  transition: .3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.gridPrev img{
  width: 70%;
  object-fit: cover;
}

.prevContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  
    position: sticky;
    top: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
