.containerAttribute{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attributes{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

/*** flip ***/


.show {
    animation: flip 0.5s;
}

@keyframes flip {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}